body {
  background-color: #0E0B16;
  color: white;
  font-family: "Cabin", "sans-serif";
  font-weight: bold;
  /*text on page not selectable*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  overflow-x: hidden;
  padding: 0px;
  margin-left: 0px;
}




li {
  border: 3px solid white;
  border-bottom: 0px;
  width: inherit;
  min-width: 125px;
  padding: 10px;
  position: relative;
  list-style-type: none;
  font-size: 1.2em;
  overflow: hidden;
}

ol {
  margin: 0px;
  margin-left: 4px;
  padding: 0px;
  border-bottom: 3px solid white;
}

#header {
  padding: 15px;
  padding-bottom: 40px;
  height: 20px;
}

.pic {
  border: 2px solid white;
  border-radius: 360px;
  width: 80px;
  height: 80px;
  display: inline-block;
  background-color: white;
}

.accounts {
  cursor: pointer;
}

.accounts:hover {
  background-color: #230F6E;
}


.accounts:active {
  background-color: #13083C;
}



.img {
  width: 100%;
  border-radius: 360px;
  height: 100%;
}

.table {
  width: 45%;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 1.8em
}

.bg {
  border: 3px solid white;
  overflow: hidden;
  width: 53.8%;
  height: 272px;
  position: fixed;
  display: inline-block;
  margin-left: 4px;
}

.bgimg {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

img {
  object-fit: cover;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.start {
  position: fixed;
  margin-left: 4px;
  width: 53.8%;
  height: 66.3%;
  background-color: #0E0B16;
  border: 3px solid white;
  display: inline-block;
  margin-top: 284px;
}

.login {
  width: 30%;
  height: 12%;
  background-color: #230F6E;
  cursor: pointer;
  border: 2px solid white;
  position: absolute;
  top: 50.1%;
  left: 50%;
  /*I honestly have no idea what this is but it works*/
  transform: translate(-50%, -50%);
  overflow: hidden;
  min-width: 100px;
  min-height: 30px;
}


#noround {
  border-radius: 0px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.padText {
  display: inline-block;
  position: absolute;
  padding-top: 28px;
}

.usrName {
  text-align: center;
  font-size: 3em;
  padding-top: 15px;
  position: relative;
}

.date {
  width: 300px;
  padding-left: 5px;
  position: absolute;
  bottom: 0;
  display: inherit;
}

#addtext {
  text-align: left;
  padding: 0px;
  margin: 0px;
  width: 2px;
  height: 0px;
  position: relative;
  float: left;
  cursor: pointer;
}

#addtext:active {
  color: #ddbdff
}

.delete {
  font-size: 0.8em;
  color: #FF0000;
  position: absolute;
  display: inherit;
  bottom: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
}

.delete:active {
  color: #B70000;
}